data/generated
output
.DS_STORE
**/.DS_STORE
.aider*
preview/*.aux
preview/*_latexmk
preview/*.fls
preview/*.log
preview/*.gz
preview/*.nav
preview/*.dvi
preview/*.out
preview/*.snm
preview/*.toc
*.sh
.githooks